rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function signedIn() {
      return request.auth != null;
    }

    function isOwner(uid) {
      return request.auth != null && request.auth.uid == uid;
    }

    function isAdmin() {
      return request.auth != null
        && request.auth.uid == "Dpmh3d0Ag5XsuwsJOBAmuR2Gqba2";
    }

    match /users/{uid}/{allPaths=**} {
      allow read: if true;
      allow write: if isOwner(uid) || isAdmin();
    }
  }
}